/* Styling of the footer */
footer .row{
    background-color: #343B4A !important;
    color:#fff;
    font-size: 16px;
    line-height: 1.7em;
    padding: 40px 80px;
}
.footer-sub-div{
    padding:0.5em
}
footer p{
    margin-bottom: 1em;
    clear: left;
    font-size: 16px;
}
.footer-header{
    color: #ffa51f;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}
footer a{
    margin-top:0.15em;
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 0px;
    text-align: left;
}
footer a:hover{
    color: #7b9de0;
}
.footer-hr{
    width: 15%;
    float: left;
    margin-top:0px;
    margin-bottom: 0.5em;
    color: #fff;
    text-align: left;
    border: 1px solid #fff;
    background-color: #fff;
}
.btn-footer{
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: 1.5px solid #fff;
    padding: 5px 20px !important;
    font-weight:bold;
    margin-top: -1em;
    margin-top: -0.3em;
}
.btn-footer:hover{
    background-color: #fff;
    color: #343b4a;
}
.socials-hr hr{
    width:100%;
    /* width:90%; */
    margin-bottom:0px;
    background-color: #d9d9d9;
}
.socials-hr{
    margin-top: -4em;
    margin-bottom: -4em;
}
.socials-hr .row{
    margin:0px;
}
footer .fab{
    font-size: 18px;
}
/* End of styling */



@media only screen and (max-width: 767px){
    footer .row{
        font-size: 15px;
        line-height: 1.7em;
        padding: 30px 15px;
        text-align:center
    }
    footer p{
        font-size: 15px;
    }
    .footer-header{
        font-size: 18px;
        text-align:center
    }
    footer a{
        color: #fff;
    }
    footer a:hover{
        color: #7b9de0 !important;
    }
    .footer-hr{
        width: 10%;
        margin:0px auto 10px auto;
        float:none;
        text-align:center;  
    }
    .btn-footer{
        padding: 10px 15px !important;
        min-width:40%;
    }
    .footer-form{
        text-align:center;
        margin:auto
    }
    .footer-email-input{
        width:70%;
        text-align:center
    }
    .socials-hr hr{
        width:100%;
    }
    .socials-hr{
        margin-top: -2.5em;
        margin-bottom: -1.8em;
    }
    footer .fab{
        font-size: 18px;
    }
    
}
@media only screen and (min-width: 596px) and (max-width: 767px) {
    
}

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-md-1 {width: 8.33%;}
   .col-md-2 {width: 16.66%;}
   .col-md-3 {width: 25%;}
   .col-md-4 {width: 33.33%;}
   .col-md-5 {width: 41.66%;}
   .col-md-6 {width: 50%;}
   .col-md-7 {width: 58.33%;}
   .col-md-8 {width: 66.66%;}
   .col-md-9 {width: 75%;}
   .col-md-10 {width: 83.33%;}
   .col-md-11 {width: 91.66%;}
   .col-md-12 {width: 100%;}
  
  
   /*End of styling*/
  }
  @media only screen and (min-width: 1200px) {
   .col-lg-1 {width: 8.33%;}
   .col-lg-2 {width: 16.66%;}
   .col-lg-3 {width: 25%;}
   .col-lg-4 {width: 33.33%;}
   .col-lg-5 {width: 41.66%;}
   .col-lg-6 {width: 50%;}
   .col-lg-7 {width: 58.33%;}
   .col-lg-8 {width: 66.66%;}
   .col-lg-9 {width: 75%;}
   .col-lg-10 {width: 83.33%;}
   .col-lg-11 {width: 91.66%;}
   .col-lg-12 {width: 100%;}
  
}