#sidebar{
    height:100%;
    color:#660033;
    font-size:14px;
}
.li-underlined{
    border-bottom:1.5px solid #fc8003;
}
.sidebar ul{
    list-style-type:none;
    padding:0px;
}
.sidebar li{
    margin:4px 0px;
}
.sidebar a{
    padding:1em;
    display:block;
}
.sidebar a:hover{
    background-color:#c9c9c9;
}