body{
  margin: 0px;
  padding: 0px;
  color: #660033;
}
a, .nav-list li:hover {
  cursor:pointer
}
a{
  text-decoration: none !important;
  color: inherit;
}
*{
  box-sizing: border-box;
}
.row{
  padding: 0px;
  margin: 0px !important;
}
/* Styling of the navigation bar */
.navbar{
  padding: 20px;
  background-color: #fc8003;
  color: #fff;
  width: 100%;
  font-size: 16px;
}
.nav-item{
  display: inline-block;
  padding: 5px;
}
.nav-link{
  padding: 10px;
  color: #fff;
  border-bottom: 0px;
  border-radius: 5px; 
  transition: 0.5s;
}
.nav-link:hover{
  border-bottom: 1.5px solid #fff; 
  color: #fff !important;
}
.dropdown-menu .nav-link{
  color: #660033;
}
.dropdown-item:hover{
  background-color:#d9d9d9 !important;
}
.btn-nav-search{
  border: 1.5px solid #fff;
  color: #fff;
  font-weight:bold;
}
.btn-nav-search:hover{
  background-color: #fff;
  color: #660033;
  border-color: #fff;
}
.hamburger-icon{
  border: 1.5px solid #fff;
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  font-size: 25px
}
.hamburger-icon:hover{
  background-color: #fff;
  color: #660033;
}
.category-group{
  border: 3px solid rgba(102, 0, 51, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2em; 
}

/* Styling of footer */
.footer{
  padding: 50px;
  background-color: #000;
  color: #fff;
  bottom: 0px;
}
.color-orange{
  color: #fc8003;
}
.btn-bg{
  font-size:20px
}
.btn-default{
  color: #fff;
  background-color: rgba(0,0,0,0);
  border-color: #fff;
}
.btn-default:hover{
  color: #fc8003;
  background-color: #fff;
}
.btn-orange-bd{
  border: 1px solid #fc8003;
  background-color: rgba(0,0,0,0);
  color: #fc8003;
}
.btn-orange-bd:hover{
  background-color: #e8e8e8;
  border: 1px solid #e6e6e6;
}
.product-wrap{
  padding: 15px;
}
.product{
  border: 1.5px solid #660033;
  border-radius: 10px;
  padding: 5px;
  margin-bottom:1.5em
}
.product-list-image{
  padding: 2px;
  background-color: #a0a0a0;
  border-radius: 10px 10px 0px 0px;
}
.product-list-image img{
  border-radius: 10px 10px 0px 0px
}
.product-list-info{
  padding: 5px 5px 2px 5px;
}
.product-list-info > div{
  padding:0px
}
.div-flex{
  display:flex;
  overflow-x: auto;
}
.div-flex::-webkit-scrollbar{
  display: none;
}